extends layout

block content
  script(src='/javascripts/farbtastic.js')
  script(src='/javascripts/chat.js')
  script(src='/javascripts/canvas.js')

  h1= "Real time web Chat"

  div(class="webSocketAll")
    div(class="chatModule")
        div(class="chatList")
            div(class="chat", id="chat")
            div(class="chatPeopleDiv")
                div(class="chatPeople")
        div
            input(type="text", class="name", placeholder="이름")
            input(type="text", class="content", placeholder="내용")
            input(type="button", name="입력", value="입력", class="sendBtn")
    div(class="canvasModule")
        table(border = "10")
            tr
                td
                    canvas(class="draw", id="canvas", width="2000", height="2000")
                td
                    input(type="range", min="1", max="100", value="1", onchange="showValue(this.value)")
                    span(id="range") 1
                    label(id="lineWidth")
                    div(id="colorpicker")
                    input(type="button", name="새로고침", value="새로고침", class="clearBtn")
                    input(type="button", name="Bitmap저장", value="Bitmap저장", class="saveBtn")
                    div(id="imageView", width="195", height="195", class = "temp")